{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Rybak's blog</title>
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
</head>
<body class="login">
	<div id="container">
		<div id="header">
			<div id="branding">
				Rybak's blog for working
			</div>
		</div>
		<div id="content" class="colM">
			<div id="content-main">
				<form action="/login/" method="POST">
				    {{ form.as_p }}
				    {% csrf_token %}
				    <div class="submit-row">
				    <input type="submit" class="btn btn-primary" value="Log in"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>