{% extends 'main/base.html' %}

{% block content %}
    <div class="page-button">
            <ul style="width: 20%">
        {% if user.is_authenticated %}
            <li><a href="{% url 'post_new' %}"><h3>Post <span class="label label-primary">New</span></h3></a></li>
        {% endif %}
            </ul>
    </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        </div>
    {% endfor %}
{% endblock content %}