h1 a {
color: #F2A205;
}
body {
padding-left: 5px;
}
h1 a {
color: #FCA205;
font-family: 'Lobster';
}
.page-header {
    background-color: #333;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
}

.content {
    margin-left: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.city {
    margin-right: 20px;
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 20px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

* {font-family: Arial, Helvetica, sans-serif}
#nav_menu {padding: 0; width: 762px; margin: 0 auto}
#nav_menu ul {list-style: none; margin: 0; padding: 0}
#nav_menu li {display: inline}
#nav_menu a {
float: right;
width: 125px;
height: 40px;
background-color: #333;
border-left: 2px solid #ffffff;
text-decoration: none;
text-align: center;
padding: 0;
padding-top: 6px;
font-size: 15px;
color: #ffffff
}

#nav_menu a:hover {background-color: #920033; height: 40px;}

.page-button{
    color: #ffffff;
    font-size: 15pt;
    text-decoration: none;
    text-decoration: none;
    text-align: left;
}
.button_add{
    padding: 0;
    width: 50px;
    margin: 0 auto;
}
.button_add ul {
    list-style: none; margin: 0; padding: 0
}
.page-button li{
    display: inline
}